
<div class="container mt-2">
  <div class="row text-center">
    <div class='mx-auto col-12 col-sm-12 col-lg-10 col-xl-12' >
      <h1>About</h1>

      <p><b>ながのCAKEは全国発送可能なケーキ屋さんです。<br>お子様からお年寄りの方までお召し上がりいただけるよう、<br>様々なバリエーションをご用意しています。<br>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>ぜひご注文下さい。</b></p>
    </div>
  </div>
</div>